extends layout

block content
    div(class='section banner')
        div(class='row')
            div(class='col s12 m12')
                h1(class='background-black-opacity roboto-thin')= title
                p(class='background-black-opacity italic') Just tell things here that you won't tell it on your common social networks!
    
    div(class='section purple lighten-2')
        div(class='row')
            div(class='col s12 m12')
                span asdfasdf

    div(class='section purple lighten-1')
        div(class='row')
            div(class='col s12 m12')
                span Mean Streak
            